.container {  
    background-image: url("C:\Users\Dell\angular\login\src\assets\images\pune.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 5400px;
    height: 550px;  
}
.card {
    opacity: 0.8;
}