<!DOCTYPE html>
<html lang="en">
<head><link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'></head>
<body>
  <div class="container">
    <!-- <header class="jumbotron">
      <p>{{ content }}</p>
    </header> -->
    <h1 class="centered">Tourism</h1>
  </div>
  <div id="features">
    <div class="wrapper">
        <ul>
           <a href="pune"><li class="feature-1">
            <h4>Pune</h4>
        </li></a>
            <a href="karad"><li class="feature-2">
              <h4>Karad</h4>
          </li></a>
            <a href="beed"><li class="feature-3">
              <h4>Beed</h4>
          </li></a>
            <a href="mumbai"><li class="feature-4">
              <h4>Mumbai</h4>
            </li></a>
            <a href="kolhapur"><li class="feature-5">
              <h4>Kolhapur</h4>
            </li></a>
            <a href="nashik"><li class="feature-6">
              <h4>Nashik</h4>
            </li></a>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<footer>
  <div class="wrapper">
      <div id="footer-info">
          <p>Copyright 2014 CompanyName. All rights reserved.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
          <ul>
              <li><h5>About Us</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
          <ul>
              <li><h5>Contact Us</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
      </div>
      <div class="clear"></div>
  </div>
</footer>
</body>
</html>